name: CI Pipeline

on:                    
  push:
    branches: [ main ]  
  pull_request:
    branches: [ main ]

jobs:                 
  build:
    runs-on: ubuntu-latest  

    steps:               
      - name: Checkout code
        uses: actions/checkout@v4   

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install server dependencies
        working-directory: ./server
        run: npm install

      - name: Copy backend files via SCP
        working-directory: ./server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "./"
          target: "/var/www/html"
        

      - name: Build server
        working-directory: ./server
        run: npm run build

      - name: Install client dependencies
        working-directory: ./client
        run: npm install

      - name: Start server
        working-directory: ./client
        run: npm run build

      - name: Copy frontend files via SCP
        working-directory: ./client
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "./"
          target: "/var/www/html"



